<section class="flex flex-col gap-4">
  <%= render SectionHeaderComponent.new(text: @name) %>

  <%= form_with url: team_data_visualize_path do |form| %>

    <% @data_keys.each do |key| %>
      <%= form.label :paid do %>
        <%= form.checkbox :paid %>
        <span>Paid</span>
      <% end %>
    <% end %>

  <%= form.simple_submit(text: "Visualize") %>
  <% end %>

</section>

<section class="flex flex-col gap-4">
  <%= render SectionHeaderComponent.new(text: "#{@name} Records") %>

  <% @data.each do |datum| %>
    <%= render LinkComponent.new(to: datum.name, text: datum.created_at.strftime("%B %d, %Y - %H:%m %Z"),
                                  style: :outlined, element: { class: "text-left" }) %>
  <% end %>
</section>
