<%= render SectionHeaderComponent.new(text: @team.name, badge: @team.user == Current.user ? "Owner" : nil) %>

<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Add New Seats</h2>

  <% if Current.user.confirmed? %>
    <%= form_with url: team_pending_seats_path(@team), class: "flex gap-2" do |form| %>
      <%= form.text_field :pending_emails, placeholder: "member1@mydomain.com, member2@mydomain.com", class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2  w-full" %>
      <%= form.simple_submit(text: "Send Invites", extra_classes: [ "shrink-0" ]) %>
    <% end %>
  <% else %>
    <%= render EmptySectionNoticeComponent.new(text: "Confirm your email address before inviting team members.") if @team.seats.empty? %>
  <% end %>
</section>

<% if @team.pending_seats.any? %>
<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Pending Seats</h2>
  <%= render PendingSeatComponent.with_collection(@team.pending_seats, user: Current.user) %>
</section>
<% end %>

<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Team Seats</h2>
  <%= render SeatComponent.with_collection(@team.seats, show: :email, action: "Remove") %>
  <%= render EmptySectionNoticeComponent.new(text: "Your team has no members.") if @team.seats.empty? %>
</section>

<section class="flex flex-col gap-4">
  <h2 class="font-bold text-2xl">Status Sections</h2>

  <%= form_with model: @team, url: team_path(@team), method: :patch, html: { class: "flex flex-col gap-8" } do |form| %>
    <fieldset class="flex flex-col gap-4">
      <% @team.sections.each_with_index do |section, index| %>
      <div class="border border-gray-400 rounded-md">
        <%= form.text_field "section_#{index}_name", value: section["name"], placeholder: "Section Name", class: "block rounded-md focus:outline-solid focus:outline-blue-600 px-3 py-2 font-bold w-full" %>
        <%= form.text_field "section_#{index}_description", value: section["description"], placeholder: "Description", class: "block rounded-md focus:outline-solid focus:outline-blue-600 px-3 py-2 w-full text-sm text-yin-300" %>
      </div>
      <% end %>
    </fieldset>

    <fieldset class="flex flex-col gap-4">
      <h2 class="font-bold text-2xl">Time Zone</h2>

      <%= form.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, value: @team.time_zone, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 w-full") %>
    </fieldset>

    <fieldset class="flex flex-col gap-4">
      <h2 class="font-bold text-2xl">End of Day Cutoff</h2>

      <div>
        <span class="inline-block w-35">End of Day</span>
        <%= form.simple_time_select(:end_of_day, ignore_date: true, ampm: true, value: @team.end_of_day) %>
      </div>
    </fieldset>

    <div class="cursor-not-allowed">
      <fieldset class="flex flex-col gap-4 opacity-40 pointer-events-none">
        <h2 class="font-bold text-2xl">Notifactions</h2>

        <div>
          <%# TODO: Allow enable / disable of notifactions %>
          <span class="inline-block w-35">Notifaction Time</span>
          <%= form.simple_time_select(:notifaction_time, ignore_date: true, ampm: true, value: @team.notifaction_time, disabled: true) %>
        </div>

        <input disabled type="text" name="metadata[slack_webhook]" class="block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2  w-full" placeholder="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX" autocomplete="off">
      </fieldset>
    </div>

    <%= form.simple_submit(text: "Update Settings") %>

  <% end %>

</section>
