<section class="flex gap-4">
  <h1 class="font-bold text-4xl"><%= @team.name %></h1>

  <% if Current.user == @team.user %>
  <div class="rounded-3xl bg-white text-yin py-2 px-4">Owner</div>
  <% end %>
</section>

<% if @team.pending_seats.any? %>
<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Pending Seats</h2>
  <%= render PendingSeatComponent.with_collection(@team.pending_seats) %>
</section>
<% end %>

<section>
  <h2 class="font-bold text-2xl">Add New Seats</h2>

  <%= form_for :pending_seat, url: team_pending_seats_path(team_id: @team.guid), class:'flex flex-col gap-2' do |form| %>
    <%= form.text_field :pending_emails, placeholder: 'member1@mydomain.com, member2@mydomain.com', class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>

    <%= render ButtonComponent.new(text: 'Invite Members', type: :submit)%>
  <% end %>
</section>