<% 'You have pending seats!' if @pending_seats.any? %>

<section class="flex flex-col gap-4">
  <h2 class="font-bold text-4xl">Today's Status:</h1>

  <div class="flex flex-col gap-2">
    <%= render SeatComponent.with_collection(@seats) %>
    <%= render EmptySectionNoticeComponent.new(text: 'You\'re not a member of any teams') unless @seats.any? || @teams.any? %>
  </div>
</section>

<% if @teams.any? %>
<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Manage Teams</h1>

  <div class="flex flex-col gap-2">
    <%= render TeamComponent.with_collection(@teams) %>
  </div>
</section>
<% end %>

<section class="flex gap-2">
  <%= render LinkComponent.new(text: "Create Team", to: new_team_path, style: :outlined, level: :secondary) %>
  <%= render ButtonComponent.new(text: 'Log Out', to: session_path, method: :delete, style: :outlined, level: :secondary) %>
</section>
