<header class="flex flex-col gap-2">
  <%= render SectionHeaderComponent.new(text: "#{@team.name} History") %>
  <div class="text-sm text-yin-500">Statuses from <%= @date.strftime("%B %d, %Y") %></div>
</header>

<% if @team_statuses&.any? %>
  <%= render StatusComponent.with_collection(@team_statuses) %>
<% else %>
  <%= render EmptySectionNoticeComponent.new(text: "No statuses to display.") %>
<% end %>

<div class="flex justify-center gap-4 items-center">
  <%= render LinkComponent.new(text: "← Prev", to: team_statuses_path(@team, date: @prev)) %>

  <%= render LinkComponent.new(text: "Next →",
                               to: team_statuses_path(@team, date: @next),
                               element: {
                                class: @next.future? ? "opacity-40 cursor-not-allowed pointer-events-none" : ''
                               }) %>
</div>
