<%= render SectionHeaderComponent.new(text: "#{@team.name} History") %>

<% if @team_statuses.any? %>
  <%= render StatusComponent.with_collection(@team_statuses) %>
<% else %>
  <%= render EmptySectionNoticeComponent.new(text: "No statuses to display.") %>
<% end %>

<div class="flex justify-center gap-4 items-center">
  <%= render LinkComponent.new(text: "← Prev", to: team_statuses_path(@team, page: @page - 1), extra_classes: @page <= 1 ? [ "opacity-40", "cursor-not-allowed" ] : []) %>

  <span class="border rounded p-2"><%= @page %></span>

  <%= render LinkComponent.new(text: "Next →", to: team_statuses_path(@team, page: @page + 1)) %>
</div>
