<%= form_with **form_attrs, class: 'flex flex-col gap-4' do |form| %>
  <% team.sections.each_with_index do |section, index| %>
  <section class="flex flex-col gap-2">
    <header>
      <h2 class="font-bold text-2xl"><%= section["name"] %></h2>
      <% if section["description"] %>
        <span class="text-sm text-yin-600"><%= section["description"] %></span>
      <% end %>
    </header>

    <%= form.textarea "sections[#{section["name"]}]", 
                      id: "section_#{index}",
                      value: section_value(section["name"]),
                      rows: 4,
                      class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 w-full field-size-content-polyfill" %>
  </section>
  <% end %>

  <%= render ButtonComponent.new(text: submit_text, type: :submit) %>

  <span class="text-sm text-yin-600">Statuses editable for <%= updated_until %></span>
<% end %>