<%= form_with **form_attrs, html: { class: "flex flex-col gap-4" } do |form| %>
  <%= form.hidden_field :is_draft, value: "1" if is_draft %>

  <% team.sections.each_with_index do |section, index| %>
  <section class="flex flex-col gap-2">
    <header>
      <h2 class="font-bold text-2xl"><%= section["name"] %></h2>

      <% if section["description"] %>
        <span class="text-sm text-yin-600"><%= section["description"] %></span>
      <% end %>
    </header>

    <%= form.textarea "sections[#{section["name"]}]",
                      id: section_id(index),
                      value: section_value(section["name"]),
                      rows: 4,
                      class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 w-full field-size-content-polyfill" %>
  </section>
  <% end %>

  <%= form.simple_submit(text: submit_text) %>

  <% unless is_draft %>
    <span class="text-sm text-yin-600">

      <% if @status.created_at? %>
        Submitted <%= @status.created_at.in_time_zone(status.team.time_zone).strftime("%B %d, %Y at %I:%M %p %Z") %>
      <% else %>
        <%= team.name %> statuses due in <%= cutoff_time %>
      <% end %>
    </span>
  <% end %>
<% end %>
