<h1 class="font-bold text-4xl">Manage Account</h1>

<%= form_for Current.user, method: :patch, html: { class: "flex flex-col gap-4" } do |form| %>
  <%= form.text_field :name, required: true, value: Current.user.display_name, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 w-full" %>

  <div class="flex gap-2 items-center">
  <%= form.email_field :email_address, value: Current.user.email_address, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2  w-full" %>
  <%= tag.div Current.user.confirmed? ? "Email Confirmed" : "Unconfirmed Email", class: "shrink-0" %>
  </div>
  <%= render ButtonComponent.new(text: "Update", type: :submit) %>
<% end %>

<% if @pending_seats.any? %>
<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Your Pending Seats</h2>

  <div class="flex flex-col gap-2">
    <%= render PendingSeatComponent.with_collection(@pending_seats, user: Current.user) %>
  </div>
</section>
<% end %>

<section class="flex flex-col gap-2">
  <h2 class="font-bold text-2xl">Your Teams</h2>

  <% form_for :user do %>
  <% end %>

  <div class="flex flex-col gap-2">
    <%= render TeamComponent.with_collection(Current.user.teams) if Current.user.teams.any? %>
    <%= render SeatComponent.with_collection(Current.user.seats) %>

    <% if Current.user.all_alone? %>
      <%= render EmptySectionNoticeComponent.new(text: "You're not a member of any teams.") do |component| %>
        <% component.with_link do %>
          <%= render LinkComponent.new(text: "Create a team", to: new_team_path) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>

<section class="flex gap-4 items-center">
  <%= render LinkComponent.new(text: "Create Team", to: new_team_path, style: :outlined, level: :secondary) %>
  <%= render ButtonComponent.new(text: "Log Out", to: session_path, method: :delete, style: :text, level: :secondary) %>
</section>
