<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SimpleTeam" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-yin-900 text-white">
    <%= render SiteHeaderComponent.new do |component| %>
      <% component.with_notice_area do %>
      <%= render BadgeComponent.new(text: "Pending Invites!", path: edit_user_path) if @pending_seats.any? %>
      <%= render BadgeComponent.new(text: "Unconfirmed email address, click to resend.", path: reconfirm_user_path, method: :post) if Current&.user&.unconfirmed? %>
      <% end %>
    <% end %>

    <% if content_for?(:content) %>
      <%= yield(:content) %>
    <% else %>
      <main class="container mx-auto md:w-1/2 px-5 sm:mt-15 sm:mb-20 w-full flex flex-col gap-8">
        <%= yield %>
      </main>
    <% end %>

    <div class="has-[*]:p-2 has-[*]:pt-0 fixed bottom-0 left-1/2 transform -translate-x-1/2 flex flex-col justify-center w-160 max-w-full">
      <%= render AlertComponent.new(text: flash[:alert]) if flash[:alert] %>
      <%= render AlertComponent.new(text: flash[:notice], level: :notice) if flash[:notice] %>
    </div>
  </body>
</html>
